<div *ngIf="etablissement" class="etablissement-container">
    <h2 class="etablissement-title">Détails de l'Établissement</h2>

    <div class="etablissement-info">

        <p><strong>Nom :</strong> {{ etablissement.nom }}</p>
        <p><strong>Email :</strong> {{ etablissement.email }}</p>
    </div>

    <div class="etablissement-classes">
        <h3>Classes</h3>
        <ul class="classe-list">
            <li *ngFor="let classe of etablissement.classes" class="classe-item" (click)="showEleves(classe)">
                {{ classe.name }}
            </li>
        </ul>
        <p *ngIf="!etablissement.classes || etablissement.classes.length === 0">
            Pas de classe disponible
        </p>
    </div>
</div>